    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        outline: none;
        text-transform: capitalize;
        border: none;
        box-sizing: border-box;
        text-decoration: none;
        transition: 0.5s linear;
    }
    /*var*/
    
    $main :#e42a9c;
    $black:#10221b;
    $white:#fff;
    $light-bg:#eee;
    $border:0.2rem solid $black;
    $box-shadow:0 0.5rem 1rem rgba(0,
    0,
    0,
    0.1);
    /**/
    
    @mixin grid($val) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
        gap: 1.5rem;
    }
    /*html*/
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: 5rem;
        &::-webkit-scrollbar {
            width: 0.3rem;
        }
        ;
        &::-webkit-scrollbar-track {
            background-color: $white;
        }
        ;
        &::-webkit-scrollbar-thumb {
            background-color: $main
        }
    }
    
    section {
        padding: 5rem 9%;
    }
    
    .btn {
        background-color: $white;
        border-radius: 0.9rem;
        margin-top: 1rem;
        color: $black;
        border: $border;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        display: inline-block;
        &:hover {
            color: $white;
            background-color: $main;
            font-size: 1.7rem;
        }
    }
    
    .heading {
        text-align: center;
        font-size: 3rem;
        color: $black;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
        color: $black
    }
    /*header*/
    
    header {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        padding: 2rem 9%;
        left: 0;
        display: flex;
        align-items: center;
        &.active {
            box-shadow: $box-shadow;
            background-color: $white;
        }
        .logo {
            margin-right: auto;
            font-size: 2.5rem;
            color: $black;
            i {
                color: $main;
                margin-right: 0.5rem;
            }
        }
        .navbar {
            a {
                font-size: 1.5rem;
                margin-left: 1.5rem;
                color: $black;
                &:hover {
                    color: $main
                }
            }
            #btn-close {
                display: none;
            }
        }
        .icons {
            #menu-btn {
                display: none;
            }
        }
        .icons div,
        .icons a {
            font-size: 1.8rem;
            margin-left: 1.5rem;
            cursor: pointer;
            color: $black;
            &:hover {
                color: $main
            }
        }
    }
    
    .search-form {
        width: 100%;
        height: 100%;
        position: fixed;
        top: -110%;
        left: 0;
        background-color: rgb(180, 180, 180);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        &.active {
            top: 0
        }
        #formClose {
            position: absolute;
            top: 5rem;
            right: 3rem;
            font-size: 2.5rem;
            color: $main;
            cursor: pointer;
        }
        form {
            width: 70rem;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid #fff;
                background-color: rgb(180, 180, 180);
                font-size: 2rem;
            }
            label {
                font-size: 1.5rem;
                color: $main;
                cursor: pointer;
            }
        }
    }
    
    //home
    .home {
        padding: 0;
        .box {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-size: cover !important;
            background-position: center !important;
            padding: 2rem 9%;
            &.second {
                display: flex;
                justify-content: flex-start;
            }
            .content {
                width: 50rem;
                span {
                    font-size: 3rem;
                    color: $black
                }
                h3 {
                    font-size: 3.9rem;
                    color: $main
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2;
                    color: $black
                }
            }
        }
    }
    
    //category
    .cateogry {
        .box-container {
            @include grid(20rem);
            .box {
                text-align: center;
                padding: 1rem;
                img {
                    margin-bottom: 1rem;
                    width: 20rem;
                    height: 20rem;
                    border-radius: 50%;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                h3 {
                    font-size: 2rem;
                    color: $main;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1.5rem;
                    color: $black;
                    margin: 1rem 0;
                }
            }
        }
    }
    
    //about
    .about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: $light-bg;
        .image {
            flex: 1 1 42rem;
            img {
                width: 100%;
                height: 100%;
                border-radius: 0.9rem;
            }
        }
        .content {
            flex: 1 1 42rem;
            padding: 1rem;
            h3 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
                color: $main
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    
    .shop {
        .slide {
            border: $border;
            border-radius: 0.9rem;
            &:hover .image .icons {
                transform: translateY(0);
            }
            .image {
                height: 30rem;
                width: 100%;
                position: relative;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .icons {
                    width: 100%;
                    position: absolute;
                    bottom: 2rem;
                    left: 0;
                    text-align: center;
                    z-index: 10000;
                    transform: translateY(7rem);
                    a {
                        font-size: 1.8rem;
                        color: $white;
                        background-color: $black;
                        padding: 1rem;
                        margin: 1rem;
                        &:hover {
                            color: $black;
                            background-color: $main;
                        }
                    }
                }
            }
            .content {
                text-align: center;
                h3 {
                    font-size: 2rem;
                    color: $black
                }
                .price {
                    color: $main;
                    font-size: 1.8rem;
                }
                .stars {
                    i {
                        font-size: 2rem;
                        color: $main;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    
    //packages
    .package {
        background-color: $light-bg;
        .box-container {
            @include grid(32rem);
            .box {
                text-align: center;
                background-color: $white;
                box-shadow: $box-shadow;
                border-radius: 0.5rem;
                &:hover .image {
                    transform: scale(1.05)
                }
                .image {
                    overflow: hidden;
                    height: 25rem;
                    padding: 2rem;
                    padding-bottom: 0;
                    border: 0.5rem;
                    img {
                        border-radius: 0.5rem;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    h3 {
                        margin-top: 0.9rem;
                        font-size: 2rem;
                        color: $main;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                    .price {
                        color: $main;
                        font-size: 1.9rem
                    }
                    .btn {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
    
    //review
    .review {
        .slide {
            .text {
                border-radius: 0.5rem;
                font-size: 1.5rem;
                color: $black;
                padding: 2rem;
                background-color: $light-bg;
                line-height: 2;
                font-style: italic;
                z-index: 0;
                position: relative;
                margin-bottom: 1.7rem;
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $light-bg;
                    left: 0.7rem;
                    bottom: -1.5rem;
                    width: 3rem;
                    height: 3rem;
                    transform: rotate(45deg);
                }
            }
            .user {
                display: flex;
                align-items: center;
                gap: 1rem;
                img {
                    border-radius: 50%;
                    height: 10rem;
                    width: 10rem;
                }
                .info {
                    h3 {
                        font-size: 1.8rem;
                        color: $black
                    }
                    span {
                        font-size: 1.5rem;
                        color: $main
                    }
                }
            }
        }
    }
    
    //service
    .service {
        background-color: $light-bg;
        .box-container {
            @include grid(32rem);
            .box {
                text-align: center;
                background-color: $white;
                box-shadow: $box-shadow;
                border-radius: 0.9rem;
                &:hover {
                    background-color: $black;
                    img {
                        filter: invert(1);
                    }
                    p {
                        color: $white
                    }
                }
                img {
                    margin-top: 1rem;
                    height: 10rem;
                }
                h3 {
                    font-size: 1.9rem;
                    color: $main;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 1.5rem;
                }
                .btn {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
    //blog
    .blog {
        .slide {
            text-align: center;
            padding: 2rem;
            background-color: $light-bg;
            border-radius: 0.5rem;
            cursor: pointer;
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
            img {
                height: 25rem;
                width: 100%;
                border-radius: 0.5rem;
            }
            .icons {
                background-color: $black;
                border-radius: 0.5rem;
                padding: 1rem;
                position: relative;
                display: inline-block;
                top: -2rem;
                a {
                    font-size: 1.4rem;
                    color: $white;
                    margin: 0 1rem;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
            h3 {
                font-size: 1.9rem;
                color: $main
            }
            p {
                font-size: 1.5rem;
                line-height: 1.5;
                color: $black;
                padding: 1rem 0;
            }
        }
    }
    
    //newsletter
    .newsletter {
        background-color: $light-bg;
        .content {
            text-align: center;
            max-width: 80rem;
            margin: 1rem auto;
            p {
                font-size: 1.6rem;
                line-height: 2rem;
            }
            form {
                padding: 0.7rem;
                margin-top: 2rem;
                border: $border;
                border-radius: 3rem;
                display: flex;
                .email {
                    padding: 0 1rem;
                    width: 90%;
                    color: $black;
                    font-size: 1.7rem;
                    background: none;
                }
                .btn {
                    border-radius: 8rem;
                    margin-top: 0;
                    background-color: $black;
                    color: $white;
                    &:hover {
                        background-color: $main;
                    }
                }
            }
        }
    }
    
    //client
    .client-logo {
        .slide {
            img {
                height: 12rem;
            }
        }
    }
    
    //footer
    footer {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .box-container {
            @include grid(20rem);
            margin: auto;
            .box {
                margin: 1rem;
                text-align: left;
                h3 {
                    font-size: 1.6rem;
                    color: $white;
                    padding: 1.5rem 0;
                }
                a {
                    display: block;
                    font-size: 1.4rem;
                    color: $white;
                    padding: 0.5rem 0;
                    &:hover {
                        color: $main;
                        padding-left: 1rem;
                    }
                    i {
                        padding-right: 0.5rem;
                        color: $main;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .created {
            color: $white;
            text-align: center;
            font-size: 1.9rem;
            padding-bottom: 1rem;
            span {
                color: $main
            }
        }
    }
    
    //media query
    @media(max-width:1200px) {
        .header {
            padding: 2rem;
        }
        section {
            padding: 3rem 2rem;
        }
    }
    
    @media(max-width:991px) {
        html {
            font-size: 55%;
            scroll-padding-top: 7rem;
        }
        .home {
            .box {
                background-position: right !important;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                &.second {
                    background-position: left !important;
                }
            }
        }
    }
    
    @media(max-width:768px) {
        .header {
            nav {
                position: fixed;
                width: 35rem;
                height: 100%;
                background-color: $white;
                top: 0;
                z-index: 100000;
                display: flex;
                flex-flow: column;
                left: -110%;
                align-items: center;
                justify-content: center;
                &.active {
                    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
                    left: 0
                }
                a {
                    margin: 1rem 0;
                    font-size: 3rem;
                }
                #btn-close {
                    font-size: 2rem;
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                    color: $black;
                    cursor: pointer;
                    display: block;
                }
            }
            .icons {
                #menu-btn {
                    display: inline-block;
                }
            }
        }
        .home {
            .box {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
    
    @media(max-width:450px) {
        html {
            font-size: 50%;
        }
    }